{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container mx-auto px-3 lg:px-0 flex flex-col items-center gap-4 py-8">
    
        <form action="" method="post" enctype="multipart/form-data" 
            class="flex flex-col items-center gap-6 w-full max-w-[600px]">

            {% csrf_token %}
            
            <h1 class="text-xl font-semibold">Volunteer Sign Up!</h1>
            <label for="image-upload" class="flex flex-col items-center cursor-pointer">
                <input type="file" name="profile_image" id="image-upload" accept="image/*" class="hidden" onchange="previewImage(event)" required />
                <img id="image-preview" src="{% static 'assets/profile-pic.png' %}" alt="Upload Profile Pic" class="w-48 h-56 object-contain mt-2 rounded-2xl" />
                <span class="text-sm">Upload Profile Image</span>
                {% if errors.profile_image %}
                    <p class="text-red-500 text-sm">{{ errors.profile_image }}</p>
                {% endif %}
            </label>
            <!-- Form Fields -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full">
                <label for="name" class="flex flex-col">
                    <span>Name</span>
                    <input type="text" name="name" id="name" class="border border-[#ccc] rounded-md p-2" placeholder="Enter your name" required/>
                </label>
            
                <label for="username" class="flex flex-col">
                    <span>Username</span>
                    <input type="text" name="username" id="username" class="border border-[#ccc] rounded-md p-2" placeholder="Choose a username" required/>
                    {% if errors.username %}<p class="text-red-500 text-sm mt-1">{{ errors.username }}</p>{% endif %}
                </label>
                
                <label for="email" class="flex flex-col">
                    <span>Email</span>
                    <input type="email" name="email" id="email" class="border border-[#ccc] rounded-md p-2" placeholder="Enter your email" required/>
                    {% if errors.email %}<p class="text-red-500 text-sm mt-1">{{ errors.email }}</p>{% endif %}
                </label>
            
                <label for="phone" class="flex flex-col">
                    <span>Phone Number</span>
                    <input type="tel" name="phone_number" id="phone" class="border border-[#ccc] rounded-md p-2" placeholder="Enter your phone number" required/>
                    {% if errors.phone_number %}<p class="text-red-500 text-sm mt-1">{{ errors.phone_number }}</p>{% endif %}
                </label>
            
                <label for="password" class="flex flex-col">
                    <span>Password</span>
                    <input type="password" name="password" id="password" class="border border-[#ccc] rounded-md p-2" placeholder="Enter a strong password" required/>
                    {% if error.password %}<p class="text-red-500">{{ errors.password }}</p>{% endif %}
                </label>
            
                <label for="confirm-password" class="flex flex-col">
                    <span>Confirm Password</span>
                    <input type="password" name="confirm_password" id="confirm-password" 
                        class="border border-[#ccc] rounded-md p-2" placeholder="Re-enter your password" required/>
                </label>
            </div>
                

            <!-- Submit Button -->
            <button type="submit" class="bg-[#e54c00] hover:bg-[#ED824D] text-white py-2 px-4 rounded-3xl mt-4">
                Sign Up
            </button>

        </form>

        <p class="text-sm mt-4">Already have an account? <a href="{% url 'login' %}" class="underline">Login</a></p>

    </main>
{% endblock %}
