{% extends "base.html" %}

{% block content %}

<main class="container mx-auto px-3 lg:px-0 py-12">
    <section class="flex flex-col items-center md:flex-col gap-4">
        <div class="w-full md:w-1/4">
            <img src="{{ user.volunteer.profile_image.url }}" alt="profile" class="w-full rounded-full">
        </div>
        <div class=" * flex flex-col w-full md:w-3/4 items-center"> 
            <h1 class="text-lg font-medium py-2">Name: {{ user.first_name }}</h1>
            <p class="text-lg font-medium py-2">Username: {{ user.username }}</p>
            <p class="text-lg font-medium py-2">Email: {{ user.email }}</p>
            <p class="text-lg font-medium py-2">Phone: {{ user.volunteer.phone_number }}</p>
        </div>
        <a href="{% url 'edit_volunteer_profile' %}">Edit</a>
    </section>
   
</main>

{% endblock %}
