{% extends "base.html" %}

{% block content %}
<main class="container mx-auto px-3 lg:px-0 flex flex-col items-center gap-4 py-8">
<form method="post" class="flex flex-col items-center gap-6 w-full max-w-[600px]">
    {% csrf_token %}
    <h1 class="text-xl font-semibold">Petshop Sign Up!</h1>
    {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full">
        <label for="registration_id" class="flex flex-col">
            <span>Registration ID</span>
            <input type="text" class="border border-[#ccc] rounded-md p-2" name="registration_id" placeholder="Registration ID" required>
        </label>
    
        <label for="username" class="flex flex-col">
            <span>Username</span>
            <input type="text" class="border border-[#ccc] rounded-md p-2" name="username" placeholder="Username" required>
        </label>
    
        <label for="email" class="flex flex-col">
            <span>Email</span>
            <input type="email" class="border border-[#ccc] rounded-md p-2" name="email" placeholder="Email" required>
        </label>
    
        <label for="phone_number" class="flex flex-col">
            <span>Phone Number</span>
            <input type="text" class="border border-[#ccc] rounded-md p-2" name="phone_number" placeholder="Phone Number" required>
        </label>
    
        <label for="location" class="flex flex-col">
            <span>Location</span>
            <input type="text" class="border border-[#ccc] rounded-md p-2" name="location" placeholder="Location" required>
        </label>
    
        <label for="available_accessories" class="flex flex-col">
            <span>Available Accessories</span>
            <input type="text" class="border border-[#ccc] rounded-md p-2" name="available_accessories" placeholder="Available Accessories" required>
        </label>
    
        <label for="password" class="flex flex-col">
            <span>Password</span>
            <input type="password" class="border border-[#ccc] rounded-md p-2" name="password" placeholder="Password" required>
        </label>
    
        <label for="confirm_password" class="flex flex-col">
            <span>Confirm Password</span>
            <input type="password" class="border border-[#ccc] rounded-md p-2" name="confirm_password" placeholder="Confirm Password" required>
        </label>
    
        <button type="submit" class="bg-[#e54c00] hover:bg-[#ED824D] hover:cursor-pointer text-white py-2 px-4 rounded-3xl mt-8 col-span-2">Register</button>
    </div>
    
</form>

</main>
{% endblock %}