{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- hero -->
    <section class="container mx-auto px-3 lg:px-0 py-12">
        <div class="flex flex-col md:flex-row py-16 justify-center items-center gap-6">
            <div>
                <h1 class="text-5xl font-semibold leading-snug">Pets deserve a loving <span
                        class="text-[#E54C00]">Home!</span></h1>
                <p class="text-lg font-light pt-2">Rescue. Foster. Adopt. Make a Difference.</p>
            </div>
            <img src="{% static 'assets/hero-main.png' %}" alt="nurses helping a dog"
                class="w-full md:w-1/2 rounded-2xl aspect-video object-cover object-top" />
        </div>
    </section>

    <!-- stats -->
    <section class="container mx-auto px-3 lg:px-0 py-8">
        <div class="flex flex-col sm:flex-row justify-evenly gap-4">
            <div class="flex flex-col items-center gap-4">
                <p class="text-4xl text-[#e54c00] font-semibold">400+</p>
                <p class="text-lg font-light">Successful Adoptions</p>
            </div>
            <div class="flex flex-col items-center gap-4">
                <p class="text-4xl text-[#e54c00] font-semibold">200+</p>
                <p class="text-lg font-light">Volunteers</p>
            </div>
            <div class="flex flex-col items-center gap-4">
                <p class="text-4xl text-[#e54c00] font-semibold">8+</p>
                <p class="text-lg font-light">Years</p>
            </div>
            <div class="flex flex-col items-center gap-4">
                <p class="text-4xl text-[#e54c00] font-semibold">20k+</p>
                <p class="text-lg font-light">Pets Rescued </p>
            </div>
        </div>
    </section>

    <!-- cards bento grid -->
    <section class="container mx-auto px-3 lg:px-0 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-4">
            <div
                class="rounded-2xl aspect-video md:aspect-auto overflow-hidden flex items-center justify-center row-span-2 relative">
                <div
                    class="absolute  bg-white bg-opacity-50 top-2 right-2 flex items-center justify-center h-12 w-12 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right">
                        <path d="M7 7h10v10" />
                        <path d="M7 17 17 7" />
                    </svg>
                </div>
                <div
                    class="absolute h-full w-full bg-gradient-to-b from-transparent to-[#000000ee] flex justify-center">
                    <div class="p-6 mt-auto">
                        <h3 class="text-white text-xl sm:text-3xl">Be a Lifesaver – Rescue Stray Animals</h3>
                        <p class="text-white text-xs sm:text-sm font-light pt-2">
                            Report animals in need, and our volunteers will step in to rescue, treat, and find them a
                            loving home. Every report brings hope to a helpless pet.
                        </p>
                    </div>
                </div>
                <img src="{% static 'assets/card-1.png' %}" alt="dog" class="w-full h-full object-cover object-center" />
            </div>
            <div class="rounded-2xl aspect-video overflow-hidden flex items-center justify-center relative">
                <div
                    class="absolute  bg-white bg-opacity-50 top-2 right-2 flex items-center justify-center h-12 w-12 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right">
                        <path d="M7 7h10v10" />
                        <path d="M7 17 17 7" />
                    </svg>
                </div>
                <div
                    class="absolute h-full w-full bg-gradient-to-b from-transparent to-[#000000ee] flex justify-center">
                    <div class="p-6 mt-auto">
                        <h3 class="text-white text-xl sm:text-3xl">Adopt a Pet - Your Best Friend!</h3>
                        <p class="text-white text-xs sm:text-sm font-light pt-2">
                            Give a rescued pet a second chance at happiness. Browse loving cats and dogs waiting for a
                            forever home .
                        </p>
                    </div>
                </div>
                <img src="{% static 'assets/card-2.png' %}" alt="dog" class="w-full h-full object-cover object-center" />
            </div>
            <div class="rounded-2xl aspect-video overflow-hidden flex items-center justify-center relative">
                <div
                    class="absolute  bg-white bg-opacity-50 top-2 right-2 flex items-center justify-center h-12 w-12 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-arrow-up-right">
                        <path d="M7 7h10v10" />
                        <path d="M7 17 17 7" />
                    </svg>
                </div>
                <div
                    class="absolute h-full w-full bg-gradient-to-b from-transparent to-[#000000ee] flex justify-center">
                    <div class="p-6 mt-auto">
                        <h3 class="text-white text-xl sm:text-3xl">Shop & Support Animal Welfare!</h3>
                        <p class="text-white text-xs sm:text-sm font-light pt-2">
                            Get high-quality pet food and accessories while supporting rescue efforts. Every purchase
                            helps rescued animals.
                        </p>
                    </div>
                </div>
                <img src="{% static 'assets/card-3.png' %}" alt="dog" class="w-full h-full object-cover object-center" />
            </div>
        </div>
    </section>

    <!-- how it works-->
    <section class="container mx-auto px-3 lg:px-0 py-8">
        <h2 class="text-2xl font-semibold text-center mb-12 text-[#e54c00]">How it works</h2>
        <div class="flex flex-col md:flex-row justify-evenly text-center my-8 gap-4">
            <div class="flex flex-col items-center">
                <img src="{% static 'assets/work-1.png' %}" alt="dog" class="w-24 h-24 object-cover object-center mb-3" />
                <h3 class="text-xl text-[#4c4c4c] font-semibold mb-4">Report a Stray Pet</h3>
                <p class="text-sm">Spotted an animal in need? Upload a photo and location details to alert our rescue
                    team. Every report
                    helps save a life.</p>
            </div>
            <div class="flex flex-col items-center">
                <img src="{% static 'assets/work-2.png' %}" alt="dog" class="w-24 h-24 object-cover object-center mb-3" />
                <h3 class="text-xl text-[#4c4c4c] font-semibold mb-4">Volunteers Take Action</h3>
                <p class="text-sm">Our dedicated volunteers step in! Once verified, our team quickly reaches the pet’s
                    location, ensuring safe rescue and care.</p>
            </div>
            <div class="flex flex-col items-center">
                <img src="{% static 'assets/work-3.png' %}" alt="dog" class="w-24 h-24 object-cover object-center mb-3" />
                <h3 class="text-xl text-[#4c4c4c] font-semibold mb-4">Find a Loving Home</h3>
                <p class="text-sm">After recovery, pets are ready for adoption. We connect them with loving families,
                    ensuring a happy and secure future.</p>
            </div>
        </div>
    </section>

    <!-- cta banner -->
    <section class="container mx-auto px-3 lg:px-0 py-8">
        <div class="relative cta-gradient text-white rounded-2xl p-12 flex flex-col gap-6 items-start overflow-hidden">
            <div class="absolute w-full h-full  inset-0 -z-1">
                <img src="{% static 'assets/cta.png' %}" alt="volunteer helping a dog"
                    class="md:w-1/2 h-full object-cover object-top right-0 absolute rotate-y-180" />
            </div>

            <div class="md:w-1/2">
                <h3 class="text-2xl font-semibold">Heroes Without Capes, Join Our Volunteers & Save Innocent Lives
                    Today!</h3>
            </div>
            <button class="bg-white text-[#e54c00] px-6 py-2 rounded-full flex text-sm gap-2 items-center">Register
                Now <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-move-right">
                    <path d="M18 8L22 12L18 16" />
                    <path d="M2 12H22" />
                </svg></button>
        </div>
    </section>

    {% endblock %}