
{% extends "base.html" %}

{% block content %}
<section class="px-3 lg:px-0 sm:flex items-center container mx-auto py-8  relative">
    <!-- breadcrumbs -->
    <nav
        class="text-sm font-light mb-4 text-center flex items-center md:absolute top-1/2 transform -translate-y-1/2">
        <a href="/">Home</a>
        <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-2">
            <path
                d="M1.19571 7.46017C1.12991 7.46055 1.06467 7.44794 1.00376 7.42306C0.942837 7.39817 0.887429 7.36151 0.840709 7.31517C0.747584 7.22149 0.695312 7.09476 0.695312 6.96267C0.695312 6.83058 0.747584 6.70385 0.840709 6.61017L3.44571 4.00017L0.840709 1.39017C0.758796 1.29452 0.715993 1.17148 0.720853 1.04564C0.725714 0.919805 0.77788 0.800436 0.866928 0.711388C0.955975 0.622341 1.07534 0.570175 1.20118 0.565314C1.32702 0.560454 1.45006 0.603257 1.54571 0.68517L4.50071 3.64517C4.54705 3.69189 4.58371 3.7473 4.60859 3.80822C4.63348 3.86914 4.64609 3.93437 4.64571 4.00017C4.64387 4.13255 4.59208 4.25935 4.50071 4.35517L1.53571 7.31517C1.44506 7.40516 1.3234 7.45704 1.19571 7.46017Z"
                fill="#7F7F7F" />
        </svg>
        <a href="/shop">Pets</a>
        <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-2">
            <path
                d="M1.19571 7.46017C1.12991 7.46055 1.06467 7.44794 1.00376 7.42306C0.942837 7.39817 0.887429 7.36151 0.840709 7.31517C0.747584 7.22149 0.695312 7.09476 0.695312 6.96267C0.695312 6.83058 0.747584 6.70385 0.840709 6.61017L3.44571 4.00017L0.840709 1.39017C0.758796 1.29452 0.715993 1.17148 0.720853 1.04564C0.725714 0.919805 0.77788 0.800436 0.866928 0.711388C0.955975 0.622341 1.07534 0.570175 1.20118 0.565314C1.32702 0.560454 1.45006 0.603257 1.54571 0.68517L4.50071 3.64517C4.54705 3.69189 4.58371 3.7473 4.60859 3.80822C4.63348 3.86914 4.64609 3.93437 4.64571 4.00017C4.64387 4.13255 4.59208 4.25935 4.50071 4.35517L1.53571 7.31517C1.44506 7.40516 1.3234 7.45704 1.19571 7.46017Z"
                fill="#7F7F7F" />
        </svg>
        <a href="/shop" class="font-normal">View Details</a>
    </nav>
    <!-- title -->
    <h1
        class="text-xl absolute left-1/2 transform -translate-x-1/2 w-full hidden sm:block text-center my-4 sm:my-0">
        Dog Food Details</h1>
    <div></div>
</section>
<!-- info section -->
<section class="container mx-auto px-3 lg:px-0 py-8">
    <div class="flex flex-wrap justify-evenly bg-white rounded-2xl p-6">
        <img src="src/assets/dog.png" alt="dog food"
            class="w-[200px] py-3 aspect-square object-cover rounded-2xl" />
        <!-- Pet details -->
        <div>
            <h1 class="text-xl">{{ pet.name }}</h1>
            <!-- Details grid -->
            <div class="grid grid-cols-2 gap-4 py-4">
                <div class="flex gap-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-cake">
                        <path d="M20 21v-8a2 2 0 0 0-2-2H6a2 2 0 0 0-2 2v8" />
                        <path d="M4 16s.5-1 2-1 2.5 2 4 2 2.5-2 4-2 2.5 2 4 2 2-1 2-1" />
                        <path d="M2 21h20" />
                        <path d="M7 8v3" />
                        <path d="M12 8v3" />
                        <path d="M17 8v3" />
                        <path d="M7 4h.01" />
                        <path d="M12 4h.01" />
                        <path d="M17 4h.01" />
                    </svg>
                    <div>
                        <p class="text-sm font-light text-[#7f7f7f]">Age</p>
                        <p>8 months</p>
                    </div>
                </div>
                <div class="flex gap-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-venus-and-mars">
                        <path d="M10 20h4" />
                        <path d="M12 16v6" />
                        <path d="M17 2h4v4" />
                        <path d="m21 2-5.46 5.46" />
                        <circle cx="12" cy="11" r="5" />
                    </svg>
                    <div>
                        <p class="text-sm font-light text-[#7f7f7f]">Gender</p>
                        <p>Female</p>
                    </div>
                </div>
                <div class="flex gap-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-paw-print">
                        <circle cx="11" cy="4" r="2" />
                        <circle cx="18" cy="8" r="2" />
                        <circle cx="20" cy="16" r="2" />
                        <path
                            d="M9 10a5 5 0 0 1 5 5v3.5a3.5 3.5 0 0 1-6.84 1.045Q6.52 17.48 4.46 16.84A3.5 3.5 0 0 1 5.5 10Z" />
                    </svg>
                    <div>
                        <p class="text-sm font-light text-[#7f7f7f]">Breed</p>
                        <p>Golden Retriever</p>
                    </div>
                </div>
                <div class="flex gap-4 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-ruler">
                        <path
                            d="M21.3 15.3a2.4 2.4 0 0 1 0 3.4l-2.6 2.6a2.4 2.4 0 0 1-3.4 0L2.7 8.7a2.41 2.41 0 0 1 0-3.4l2.6-2.6a2.41 2.41 0 0 1 3.4 0Z" />
                        <path d="m14.5 12.5 2-2" />
                        <path d="m11.5 9.5 2-2" />
                        <path d="m8.5 6.5 2-2" />
                        <path d="m17.5 15.5 2-2" />
                    </svg>
                    <div>
                        <p class="text-sm font-light text-[#7f7f7f]">Size</p>
                        <p>Medium</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- adoption form -->
<section class="container mx-auto px-3 lg:px-0 py-8">
    <div class="bg-white rounded-2xl p-6">
        <h1 class="text-xl text-center">Adoption Form</h1>
        <form method="POST" class="flex flex-col sm:grid grid-cols-2 gap-4 py-4">
            {% csrf_token %} 
            <label for="name" class="flex flex-col">
                <span class="text-sm font-light mb-2"> Name</span>
                <input type="text" name="name" id="name"
                    class="border-1 rounded-lg p-1 border-[#ccc] focus:outline-none" />
            </label>
            <label for="email" class="flex flex-col">
                <span class="text-sm font-light mb-2">Email</span>
                <input type="email" name="email" id="email"
                    class="border-1 rounded-lg p-1 border-[#ccc] focus:outline-none" />
            </label>
            <label for="phone" class="flex flex-col">
                <span class="text-sm font-light mb-2">Phone</span>
                <input type="tel" name="phone" id="phone"
                    class="border-1 rounded-lg p-1 border-[#ccc] focus:outline-none" />
            </label>
            <label for="address" class="flex flex-col">
                <span class="text-sm font-light mb-2">Address</span>
                <input type="text" name="address" id="address"
                    class="border-1 rounded-lg p-1 border-[#ccc] focus:outline-none" />
            </label>
            <label for="experience" class="flex flex-col sm:col-span-2">
                <span class="text-sm font-light mb-2">Experience with Pets</span>
                <textarea name="experience" id="experience" rows="4"
                    class="border-1 rounded-lg p-1 border-[#ccc] focus:outline-none"></textarea>
            </label>
            <label for="reason" class="flex flex-col sm:col-span-2">
                <span class="text-sm font-light mb-2">Reason for Adoption</span>
                <textarea name="reason" id="reason" rows="4"
                    class="border-1 rounded-lg p-1 border-[#ccc] focus:outline-none"></textarea>
            </label>
            <button type="submit"
                class="w-full col-span-2 bg-[#e54c00] text-white py-2 rounded-2xl focus:outline-none">Submit
                Application</button>
        </form>
    </div>
</section>

{% endblock %}