


{% extends "base.html" %}

{% block content %}

<section class="px-3 lg:px-0 sm:flex items-center container mx-auto py-8  relative">
    <!-- breadcrumbs -->
    <nav class="text-sm font-light mb-4 text-center flex items-center absolute top-1/2 transform -translate-y-1/2">
        <a href="/">Home</a>
        <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-2">
            <path
                d="M1.19571 7.46017C1.12991 7.46055 1.06467 7.44794 1.00376 7.42306C0.942837 7.39817 0.887429 7.36151 0.840709 7.31517C0.747584 7.22149 0.695312 7.09476 0.695312 6.96267C0.695312 6.83058 0.747584 6.70385 0.840709 6.61017L3.44571 4.00017L0.840709 1.39017C0.758796 1.29452 0.715993 1.17148 0.720853 1.04564C0.725714 0.919805 0.77788 0.800436 0.866928 0.711388C0.955975 0.622341 1.07534 0.570175 1.20118 0.565314C1.32702 0.560454 1.45006 0.603257 1.54571 0.68517L4.50071 3.64517C4.54705 3.69189 4.58371 3.7473 4.60859 3.80822C4.63348 3.86914 4.64609 3.93437 4.64571 4.00017C4.64387 4.13255 4.59208 4.25935 4.50071 4.35517L1.53571 7.31517C1.44506 7.40516 1.3234 7.45704 1.19571 7.46017Z"
                fill="#7F7F7F" />
        </svg>
        <a href="/shop">Shop</a>
        <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-2">
            <path
                d="M1.19571 7.46017C1.12991 7.46055 1.06467 7.44794 1.00376 7.42306C0.942837 7.39817 0.887429 7.36151 0.840709 7.31517C0.747584 7.22149 0.695312 7.09476 0.695312 6.96267C0.695312 6.83058 0.747584 6.70385 0.840709 6.61017L3.44571 4.00017L0.840709 1.39017C0.758796 1.29452 0.715993 1.17148 0.720853 1.04564C0.725714 0.919805 0.77788 0.800436 0.866928 0.711388C0.955975 0.622341 1.07534 0.570175 1.20118 0.565314C1.32702 0.560454 1.45006 0.603257 1.54571 0.68517L4.50071 3.64517C4.54705 3.69189 4.58371 3.7473 4.60859 3.80822C4.63348 3.86914 4.64609 3.93437 4.64571 4.00017C4.64387 4.13255 4.59208 4.25935 4.50071 4.35517L1.53571 7.31517C1.44506 7.40516 1.3234 7.45704 1.19571 7.46017Z"
                fill="#7F7F7F" />
        </svg>
        <a href="/shop" class="font-normal">Cart</a>
    </nav>
    <!-- title -->
    <h1
        class="text-xl absolute left-1/2 transform -translate-x-1/2 w-full hidden sm:block text-center my-4 sm:my-0">
        Cart</h1>
    <div></div>
</section>
<!-- cart items -->
<section class="container mx-auto px-3 lg:px-0">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-start">
        <div class="flex flex-col gap-4">
            {% for item in cart_items %}
            <!-- item -->
            <div class="bg-white rounded-xl p-4 md:flex gap-4">
                <img src="{{ item.product.product_image.url }}" alt="{{ item.product.product_name }}"
                    class="md:w-[150px] h-auto rounded-xl aspect-video md:aspect-square object-cover mb-3 md:mb-0" />
                <div class="w-full flex flex-col justify-between">
                    <div class="flex justify-between items-baseline">
                        <div>
                            <h2 class="text-sm py-2">{{ item.product.product_name }}</h2>
                            <p class="text-xs text-[#7F7F7F] mb-2">
                                {{ item.product.product_description }}
                            </p>
                        </div>
                        <p class="text-xl">₹{{ item.product.product_price }}</p>
                    </div>
                    <div class="flex justify-between items-end">
                        <div class="flex gap-2">
                            <!-- <button
                                class="border border-[#ccc] px-4 py-2 rounded-md hover:cursor-pointer hover:bg-gray-200">-</button> -->
                            <p class="">Quantity: {{ item.quantity }}</p>
                            <!-- <button
                                class="border border-[#ccc] px-4 py-2 rounded-md hover:cursor-pointer hover:bg-gray-200">+</button> -->
                        </div>
                        <a class="hover:cursor-pointer p-2" href="{% url 'remove_from_cart' item.id %}">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.8333 3.8L13.3511 11.82C13.2282 13.8688 13.1668 14.8936 12.6667 15.6304C12.4198 15.9945 12.1019 16.3018 11.7333 16.5328C10.989 17 9.99111 17 7.99533 17C5.99644 17 4.997 17 4.25111 16.532C3.88236 16.3006 3.5645 15.9927 3.31778 15.628C2.81844 14.8904 2.75778 13.864 2.638 11.812L2.16667 3.8M1 3.8H15M11.1547 3.8L10.6234 2.6736C10.2711 1.9248 10.0946 1.5512 9.79044 1.3176C9.72289 1.26585 9.65136 1.21983 9.57656 1.18C9.23978 1 8.83533 1 8.02722 1C7.19811 1 6.78356 1 6.44056 1.1872C6.36473 1.22897 6.29241 1.27713 6.22433 1.3312C5.91711 1.5736 5.74522 1.9616 5.40144 2.7368L4.93011 3.8M6.05556 12.6V7.8M9.94444 12.6V7.8"
                                    stroke="#FF0000" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        <!-- order summary -->
         {% if cart_items %}
        <div class="bg-white rounded-xl p-4 mt-4 lg:mt-0 h-full max-h-[600px] flex flex-col justify-between">
            <div>
                <h2 class="text-lg font-semibold">Order Summary</h2>
                <div class="flex justify-between items-center py-2">
                    <p class="text-[#7f7f7f]">Subtotal</p>
                    <p>₹{{ total_price }}</p>
                </div>
                <div class="flex justify-between items-center py-2">
                    <p class="text-[#7f7f7f]">Shipping</p>
                    <p>Free</p>
                </div>
                <div class="flex justify-between items-center py-2">
                    <p class="text-[#7f7f7f]">Tax</p>
                    <p>₹{{ tax_amount|floatformat:2 }}</p>
                </div>
                <hr class="border-[#ccc]" />
                <div class="flex justify-between items-center py-2">
                    <p>Total</p>
                    <p>₹{{ final_price|floatformat:2 }}</p>
                </div>
            </div>
            <a href="{% url 'checkout' %}" class="bg-[#e54c00] text-white w-full py-2 rounded-2xl hover:bg-[#ED824D]">Proceed to
                Checkout</a>
        </div>
        {% else %}
        <p class="">No products in the cart</p>
        {% endif %}
    </div>
  
</section>


{% endblock %}