{% extends "base.html" %}

{% block content %}
    <main class="container mx-auto px-3 lg:px-0 flex flex-col items-center gap-4 py-8 my-20">
        <!-- {% if messages %}
        {% for message in messages %}
        <div class="flex justify-center items-center">
            <p class="text-red-500">{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %} -->
        <h1 class="text-3xl font-semibold">Login!</h1>
        <form action="" method="post" class="flex flex-col gap-4 w-full max-w-[600px]">
            {% csrf_token %}
            <label for="username" class="flex flex-col">
                <span>Username</span>
                <input type="text" name="username" id="name" class="border border-[#ccc] rounded-md p-2 mt-1" />
            </label>

            <label for="password" class="flex flex-col">
                <span>Password</span>
                <div class="relative">
                    <input type="password" name="password" id="password" class="border border-[#ccc] rounded-md p-2 mt-1 w-full" />
                    <button type="button" id="show-password" class="absolute top-1/2 transform -translate-y-1/2 right-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                    </button>
                </div>
                <a href="{% url 'forgot-password' %}" class="text-xs mt-2 ms-auto ">Forgot password?</a>
            </label>

            <button type="submit"
                class="bg-[#e54c00] hover:bg-[#ED824D] hover:cursor-pointer text-white py-2 px-4 rounded-3xl mt-8 col-span-2">Login</button>

        </form>

        <!-- <p>Don't have an account? <a href="/signup" class="underline">Sign up</a></p> -->

    </main>
    
    {% endblock %}
